<extend name="Public/layout"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/lytebox_v5.5/lytebox.css">
    <script src="__ADMIN_CSS__/lytebox_v5.5/lytebox.js" charset=""></script>

</block>

<block name="main">
    <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">交易完成订单</li>

        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">

                    <div class="form-group"></div>

                    <!-- 顶部工具栏按钮 -->
                    <div class="builder-toolbar">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 clearfix"
                                 style="margin-bottom:20px;padding-top:0px;padding-bottom:10px;">

                                <div class="form-group right">
                                    <form class="form" method="get" action="">
                                        <div style="float:left;width:12%;" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">订单号</span>
                                            <input type="text" name="mobile" class="search-input  "
                                                   value="{$_GET.mobile}" placeholder=""
                                                   style="float: left;width: 65%;"></div>
                                        <div style="float:left;width:15%;" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">类型</span>
                                            <select name="class" class="search-input  " style="float: left;width: 84%;">
                                                <option value="1" <?php if($_GET['class']==1){ ?> selected<?php } ?>>微信</option>
                                                <option value="2" <?php if($_GET['class']==2){ ?> selected<?php } ?>>支付宝</option>
                                                <option value="3" <?php if($_GET['class']==3){ ?> selected<?php } ?>>银行卡</option>
                                            </select>
                                            </div>

                                        <div style="float:left;width:12%" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">用户</span>
                                            <input type="text" name="userid" class="search-input  "
                                                   value="{$_GET.userid}" placeholder=""
                                                   style="float: left;width: 80%;"></div>
                                        <div style="float:left;width:10%" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">金额</span>
                                            <input type="text" name="money" class="search-input  " value="{$_GET.money}"
                                                   placeholder="" style="float: left;width: 70%;"></div>
                                        <div style="float:left;" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">起始日期</span>
                                            <input type="text" name="date" class="search-input " value="{$_GET.date}"
                                                   placeholder="格式:2019-11-19" style="float: left;width: 65%;"></div>
                                        <div style="float:left;" class="input-group search-form ssssy"><span
                                                style="float:left;height: 34px; ">结束日期</span>
                                            <input type="text" name="dateend" class="search-input "
                                                   value="{$_GET.dateend}" placeholder="格式:2019-11-19"
                                                   style="float: left;width: 65%;"></div>
                                        <div style="float:left;width:3%" class="input-group search-form ssssy">
                                            <span class="input-group-btn"><a class="btn btn-default search-btn"
                                                                             style="padding:2px;"><i
                                                    class="fa fa-search"></i></a></span></div>


                                        <form class="form" method="get" action="">
                                            <div style="float:left;width:7%;" class="input-group search-form" style="">
                                                <input type="hidden" value="1" name="coinpx"/>
                                                <input type="submit" value="余额排序"
                                                       style="border:none;height:33px;width:80%;background:#2699ed;color:#ffffff;cursor:pointer;"/></button>
                                            </div>
                                        </form>


                                </div>

                            </div>
                        </div>
                    </div>
                    <style type="text/css">tr, td {
                        margin: 0 !important;
                        padding: 5px 5px !important;
                    }</style>

                    <!-- 数据列表 -->
                    <div class="builder-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="builder-table">
                                    <div class="panel panel-default table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th style="font-size:12px;">ID</th>
                                                <th style="font-size:12px;">订单号</th>
                                                <th style="font-size:12px;">会员账号</th>
                                                <th style="font-size:12px;">收款姓名</th>
                                                <th style="font-size:12px;">收款账号</th>
                                                <th style="font-size:12px;">余额</th>
                                                <th style="font-size:12px;">收款类型</th>
                                                <th style="font-size:12px;">收款金额</th>
                                                <th style="font-size:12px;">匹配时间</th>
                                                <th style="font-size:12px;">完成时间</th>
                                                <th style="font-size:12px;">二维码</th>
                                                <th style="font-size:12px;">状态</th>
                                                <th style="max-width:20%;font-size:12px;">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <empty name='list'>
                                                <tr class="builder-data-empty">
                                                    <td class="text-center empty-info" colspan="20"
                                                        style="font-size:12px;">
                                                        <i class="fa fa-database"></i> 暂时没有数据<br>
                                                    </td>
                                                </tr>
                                                <else/>
                                                <foreach name='list' item='v'>
                                                    <tr>
                                                        <td style="font-size:12px;"><?php echo $v['id'];?></td>
                                                        <td style="font-size:12px;"><?php echo $v['ordernum'];?></td>
                                                        <td style="font-size:12px;"><?php echo $v['uaccount'];?></td>
                                                        <td style="font-size:12px;"><?php echo getskname($v['idewm']);?></td>
                                                        <td style="font-size:12px;"><?php echo getskhao($v['idewm']);?></td>
                                                        <td style="font-size:12px;"><?php echo getusermoney($v['uid']);?></td>
                                                        <td style="font-size:12px;">
                                                            <?php if($v['class'] ==1){
																	echo '微信收款';
																}elseif($v['class'] ==2){
																	echo '支付宝收款';
																}elseif($v['class'] ==2){
																	echo '银行收款';
																}?>
                                                        </td>
                                                        <td style="font-size:12px;"><?php echo $v['price'];?></td>
                                                        <td style="font-size:12px;"><?php echo date('Y-m-d H:i',$v['pipeitime']);?></td>
                                                        <td style="font-size:12px;"><?php echo date('Y-m-d H:i',$v['finishtime']);?></td>
                                                        <td style="font-size:12px;">

                                                            <a href="<?php echo $v['ewmimg'];?>" rel="lytebox">查看二维码</a>

                                                        </td>
                                                        <td style="font-size:12px;color:red;"><?php if($v['status']==3){echo '交易成功';}?></td>

                                                        <td style="font-size:12px;">
                                                            <a href="<?php echo U('Roborder/delsuccess',array('id'=>$v['id']));?>"
                                                               style="font-size:12px;cursor:pointer;">删除订单</a>
                                                        </td>
                                                    </tr>
                                                </foreach>
                                            </empty>
                                            </tbody>
                                        </table>
                                    </div>


                                    <style>
                                        .pages a, .pages span {
                                            display: inline-block;
                                            padding: 2px 5px;
                                            margin: 0 1px;
                                            border: 1px solid #f0f0f0;
                                            -webkit-border-radius: 3px;
                                            -moz-border-radius: 3px;
                                            border-radius: 3px;
                                        }

                                        .pages a, .pages li {
                                            display: inline-block;
                                            list-style: none;
                                            text-decoration: none;
                                            color: #58A0D3;
                                        }

                                        .pages a.first, .pages a.prev, .pages a.next, .pages a.end {
                                            margin: 0;
                                        }

                                        .pages a:hover {
                                            border-color: #50A8E6;
                                        }

                                        .pages span.current {
                                            background: #50A8E6;
                                            color: #FFF;
                                            font-weight: 700;
                                            border-color: #50A8E6;
                                        }
                                    </style>
                                    <div class="pages"><br/>
                                        <div align="right">
                                            <li class="rows">每页显示</li>
                                            :
                                            <a class="num" href="?fy=100">100</a>
                                            <a class="num" href="?fy=500">500</a>
                                            <a class="num" href="?fy=1000">1000</a>{$page}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language: "zh-CN",
            minView: 2,
            autoclose: true,
            todayBtn: 1, //是否显示今日按钮
        });

        $(document).ready(function () {

            $(".bky").click(function () {

                this.href = "###";
                alert("您无权限访问");
                return false;

            });

        });


    </script>
    <script type="text/javascript">


        function show_sub(v) {
            if (v == 'class') {
                $('#tips').attr('placeholder', '1:微信,2:支付宝,3:银行卡');
            } else if (v == 'zt') {
                $('#tips').attr('placeholder', '1:未匹配,2:已匹配,3:成功,4:超时');
            } else if (v == 'date') {
                $('#tips').attr('placeholder', '格式:2019-11-19');
            } else {
                $('#tips').attr('placeholder', '请输入搜索内容');
            }

            //alert(v);     
        }

    </script>
    <!--   <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script> -->
</block>