#app {
    box-sizing: border-box;
    font-size: .16rem;
    position: relative;
    background: #F5F4F9
}

.van-button--primary {
    color: #FFFFFF;
    background-color: #1677FE
}

.van-button--plain {
    background-color: #fff
}

.van-tabs--line .van-tabs__wrap {
    border: .01rem solid #fff
}

.van-tabs__line {
    background-color: #3cad6d
}

.van-nav-bar .van-icon,
.van-nav-bar__text,
.van-tab--active {
    color: #3cad6d
}

.van-nav-bar .van-icon,
.van-nav-bar__left .van-nav-bar__text {
    color: #252525;
    line-height: .47rem
}

.van-button--normal {
    line-height: .44rem
}

.login .van-field__body>>>input:-internal-autofill-selected {
    background-color: transparent !important
}

.ML10 {
    margin-left: .1rem
}

.ML20 {
    margin-left: .2rem
}

.MB10 {
    margin-bottom: .1rem
}

.MB20 {
    margin-bottom: .2rem
}

.MT10 {
    margin-top: .1rem
}

.MT03 {
    margin-top: .03rem
}

.MR10 {
    margin-right: .1rem
}

.MR20 {
    margin-right: .2rem
}

.MT20 {
    margin-top: .2rem
}

.PR20 {
    padding-right: .2rem
}

.flexh {
    display: flex
}

.flexv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column
}

.flexv-between {
    align-content: space-between
}

.flex-between {
    justify-content: space-between
}

.flex-align-center {
    align-items: center
}

.flexv {
    flex-direction: column
}

.flex1 {
    flex: 1
}

.flex-wrap {
    flex-wrap: wrap
}

.green {
    color: #3cad6d
}

.font-15 {
    font-size: .15rem
}

.font-14 {
    font-size: .14rem
}

.font-13 {
    font-size: .13rem
}

.font-12 {
    font-size: .12rem
}

.font-20 {
    font-size: .2rem
}

.gray {
    color: #878686
}

.success-color {
    color: #3cad6d
}

.fail-color {
    color: red
}

.warn-color {
    color: orange
}

.warn-tip {
    color: #ff5b00
}

header {
    height: .44rem;
    line-height: .44rem;
    color: #000;
    font-weight: 500;
    font-size: .18rem;
    background:rgba(237,237,237,1);
    text-align: center
}

.lineHeight-30 {
    line-height: .3rem
}

.icon {
    width: .2rem;
    height: .2rem
}

.icon,
.icon2 {
    vertical-align: middle
}

.icon2 {
    width: .1rem;
    height: .12rem
}

.icon3 {
    width: .06rem;
    height: .12rem
}

.center {
    text-align: center
}

.right {
    text-align: right
}

.select-date {
    width: max-content;
    background: #fff;
    padding: .06rem .1rem;
    border-radius: .2rem;
    margin: .1rem .2rem;
    font-size: .13rem;
    line-height: max-content;
    height: max-content
}

.bold {
    font-weight: 700
}