.account-detail[data-v-f1c1bc50] {
    box-sizing: border-box;
    background:rgba(245,244,249,1);
    min-height: 100vh;
    padding-bottom: .1rem
}

.detail-info[data-v-f1c1bc50] {
    margin-bottom: .1rem;
    padding: .15rem .15rem;
    box-sizing: border-box;
    font-size: .14rem;
    line-height: .22rem
}

.benefit[data-v-f1c1bc50] {
    font-size: .16rem
}

.more-info[data-v-f1c1bc50] {
    color: #999
}

.remark[data-v-f1c1bc50] {
    word-break: break-all;
    margin-top: .05rem
}

.select-btn[data-v-f1c1bc50] {
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: .1rem
}

.van-action-sheet__content[data-v-f1c1bc50] {
    padding-top: .1rem
}