.pwd-reset[data-v-7d5a3782] .van-nav-bar__right .van-nav-bar__text {
    font-size: .13rem;
    text-align: center;
    height: .3rem;
    line-height: .325rem;
    background: #3cad6d;
    border-radius: .05rem;
    color: #fff;
    padding: 0 .08rem;
    margin-right: 0
}

.pwd-reset .pwd-info[data-v-7d5a3782] {
    padding: .0rem .15rem
}

.pwd-item[data-v-7d5a3782] {
    height: .5rem;
    line-height: .44rem;
    border-bottom: .01rem solid #EDEDED;
    color: #666
}

.pwd-account[data-v-7d5a3782] {
    border-bottom: .01rem solid #EDEDED;
    color: #666
}

.item-title[data-v-7d5a3782] {
    width: 1.2rem;
    display: inline-block;
    color: #333;
    font-weight: 500;
}

.pwd-item[data-v-7d5a3782] .van-cell {
    background: #F5F4F9;
    font-size: .14rem;
    padding: .1rem .05rem
}

.pwd[data-v-7d5a3782] {
    padding-top: .05rem;
    box-sizing: border-box
}

.confirm-btn[data-v-7d5a3782] {
    text-align: center;
    margin-top: .8rem
}