.cash-type[data-v-8ecad41e] {
    padding: .2rem;
    box-sizing: border-box
}

.main-info[data-v-8ecad41e] .van-field__right-icon .van-icon {
    font-size: .2rem
}

.main-info[data-v-8ecad41e] .van-icon-manager:after {
    content: "\6536\6B3E\4EBA" !important;
    font-size: .15rem;
    vertical-align: bottom
}

.withdraw-cash[data-v-8ecad41e] .van-field__right-icon {
    color: #3cad6d
}

.withdraw-cash[data-v-8ecad41e] .van-popup {
    background: #f2f2f2
}

.withdraw-cash[data-v-8ecad41e] {
    box-sizing: border-box;
    padding-bottom: .6rem;
    position: relative
}

.withdraw-cash .cash-main[data-v-8ecad41e] {
    box-sizing: border-box;
    background: #40aa6f;
    height: 1rem;
    padding: .2rem .17rem
}

.cash-baseinfo[data-v-8ecad41e] {
    height: 1rem;
    padding: .25rem 0rem;
    color: #3cad6d;
    font-size: .28rem;
    position: relative
}

.cash-baseinfo[data-v-8ecad41e],
.main-info[data-v-8ecad41e] {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    margin-top: .1rem;
}

.main-info[data-v-8ecad41e] {
    padding: .1rem .05rem
}

.confirm-withdraw[data-v-8ecad41e] {
    width: 100%;
    font-size: .15rem;
    border-radius: .1rem;
    margin-top: .2rem
}